CONFIG_FATFS_VFS_FSTAT_BLKSIZE=4096

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y


CONFIG_ESP_WIFI_SSID="202"
CONFIG_ESP_WIFI_PASSWORD="202202202"
CONFIG_ESP_MAXIMUM_RETRY=5
CONFIG_MDNS_HOSTNAME="esp32"